.box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-rows: 7em 7em 7em;
}



.box-grid>div {
    background-color: teal;


}

.last-box {
    grid-column-end: 3;
    grid-row-end: 2;
}